<html>
  <head></head>
  <body>
    <p>
      The SECRET NUMBER is <%= secret_number %>
    </p>
    <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>
    <p>
        Result : <%= message %>
    </p>
  </body>
</html>